@font-face {
    font-family: "Inter";
    src: url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@100&display=swap');
}

body {
    background-color: #2A2C2F;
}

.header {
    margin-bottom: 60px;
    margin-top: 30px;
}

.header-container {
    max-width: 1300px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

.lang {
    color: white;
    font-size: 20px;
    display: flex;
    justify-self: end;
    margin-left: auto;
    flex-direction: row;
    gap: 20px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
}

.main * {
    margin: auto;
}

.img-main {
    width: 984px;
    height: 555px;
    margin-top: 20px;
    background-image: url("./images/1.png");
    display: flex;
    margin-bottom: 10px;
}

.img-main img {
    justify-self: center;
    margin-bottom: 200px;
}

.title {
    color: white;
    font-size: 80px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 96.818%;
    justify-self: center;
    text-align: center;
}

.subtitle {
    color: white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

h3 {
    color: white;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

h4 {
    color: white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 6
}

h6 {
    color: white;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

p {
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 169.432%;
}

figcaption {
    color: #b1b0b0;
    font-size: 15px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    letter-spacing: 1.5px;
}

.titles {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.text {
    text-align: left;
    width: 984px;
    display: flex;
    justify-self: start;
    flex-direction: column;
    row-gap: 40px;
}

.text h3,
.text h6,
.text p {
    margin: 0px;
}

.text-quote {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}

.quote {
    width: 283px;
    font-size: 13px;
    line-height: 157.33%;
}

.text_q {
    width: 683px;
}

.info {
    font-size: 15px;
    line-height: 157.33%;
}

.g-img {
    width: 284px;
    height: 188px;
    margin: 0px;
}

.grid-img {
    width: 1226px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

h2 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 90.767%;
    align-self: end;
}

.h2-subtitle {
    color: white;
    font-size: 70px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 108.92%;
    text-align: center;
}

.p-subtitle {
    width: 640px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 145.227%;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.card {
    width: 984px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-self: start;
    column-gap: 50px;
    margin: 0px auto 0px 0px;
}

.card-head h2 {
    width: 460px;
}

.card-main {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    row-gap: 10px;
    margin: auto 0px 0px 0px;
}

.card-link p {
    margin: 0px auto 0px 0px;
    color: #AAA;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 169.432%;
    letter-spacing: 2.4px;
}

.card-link a:active,
.card-link a:hover,
.card-link a {
    margin: 0px auto 0px 0px;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-decoration-line: underline;
}

.card-main p {
    align-self: flex-start;
    margin: 0px 0px auto 0px;
}

.video-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.videos {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.video {
    width: 583px;
    height: 323px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.video * {
    margin: 0px;
}

.video1 {
    background-image: url("./images/video_images/video_image1.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.video2 {
    background-image: url("./images/video_images/video_image2.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.video img {
    align-self: flex-start;
    justify-self: start;
    margin: 25px auto auto 25px;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
    justify-self: start;
    align-self: flex-end;
    margin: auto auto 25px 25px;
}

.frame h3 {
    font-size: 40px;
    line-height: 108.92%;
    width: 322px;
}

.places-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.places {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.place {
    width: 284px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.place h3 {
    font-size: 30px;
    line-height: 108.92%;
    align-self: flex-start;
    justify-self: start;
    margin: 30px auto auto 15px;
}

.place p {
    font-size: 15px;
    width: 248px;
    align-self: flex-end;
    justify-self: center;
    margin: auto auto 30px auto;
}

.place1 {
    background-image: url("./images/places_images/1.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.place2 {
    background-image: url("./images/places_images/2.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.place3 {
    background-image: url("./images/places_images/3.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.place4 {
    background-image: url("./images/places_images/4.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.photos-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.photos {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    align-items: center;
}

.photo {
    width: 382px;
    margin: 0px 0px auto 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: start;
    align-self: flex-start;
}

.photo * {
    margin: 0px auto 0px 0px;
}

.photo img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.baical {
    width: 1184px;
    height: 594px;
    background-image: url(./images/baical.png);
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
}

.b {
    height: 297px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: auto auto 40px auto;
}

.baical h2 {
    align-self: flex-start;
    justify-self: center;
    margin: 0px auto auto auto;
}

.baical p {
    font-size: 20px;
    width: 382px;
    justify-self: center;
    align-self: flex-end;
    margin: 0px;
    margin: auto auto 0px auto;
}

.gerbs-container {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.gerbs-container h2 {
    width: 443px;
    justify-self: start;
    margin: 0px auto 0px 0px;
    font-size: 45px;
}

.gerbs {
    display: flex;
    flex-direction: row;
    column-gap: 70px;
    align-items: flex-start;
}

.gerb {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0px 0px auto 0px;
}

.gerb p {
    font-size: 20px;
    text-align: center;
    line-height: 108.92%;
    font-weight: 500;
}

.city {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.city h2 {
    font-size: 45px;
    justify-self: start;
    margin: 0px auto 0px 0px;
}

.city img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-url {
    display: flex;
    flex-direction: row;
    column-gap: 150px;
    justify-self: start;
    margin: 0px auto 0px 0px;
    align-items: flex-start;
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 0px 0px auto 0px;
}

.links p {
    margin: 0px auto 0px 0px;
    color: #AAA;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 169.432%;
    letter-spacing: 2.4px;
}

.links a:hover,
.links a:active,
.links a {
    width: 282px;
    margin: 0px auto 0px 0px;
    color: white;
    font-size: 16px;
    line-height: 169.432%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-decoration-line: underline;
}

.text2 {
    width: 380px;
    margin: 0px 0px auto 0px;
}

.text2 p {
    font-size: 18px;
    line-height: 169.432%;
    font-weight: 400;
}

.footer {
    margin-top: 90px;
    margin-bottom: 20px;
}

.footer-container {
    max-width: 1300px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    list-style-type: none;
    padding: 0px;
}

ul li a:hover,
ul li a:active,
ul li a {
    margin: 0px auto 0px 0px;
    color: white;
    font-size: 20px;
    line-height: 169.432%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.directed {
    justify-self: end;
    margin: 0px 0px 0px auto;
}